@use './../mixins' as *;

.layout {

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__title {

    span {
      color: var(--red);
      font-style: italic;
    }
  }

  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.7rem 1rem;
    background-color: var(--bg);
    border: 0.1rem solid var(--beige);
    border-radius: 3rem;

    i {
      font-size: 1.6rem;
      color: var(--green);
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      line-height: 120%;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    overflow-x: auto;
    /* опционально, для «приклеивания» к элементам */
    scroll-snap-type: x mandatory;
    /* плавный инерционный скролл на iOS */
    -webkit-overflow-scrolling: touch;
    background-color: var(--white);
    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);
    width: 100vw;

    position: relative;
    z-index: 100;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    &.is-fixed {
      position: fixed;
      top: var(--wrapper-padding);
      z-index: 100;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 4rem;
      padding: 1rem 2rem;
      background-color: var(--bg);
      border-radius: 3rem;
      flex-shrink: 0;
      /* для snap-effect */
      scroll-snap-align: center;

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 120%;

      &.active {
        background-color: var(--green);

        color: var(--white);
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
}