@use './../mixins' as *;

.hero {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

    overflow-x: auto;
    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);
    width: 100vw;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - (2.4rem / 4));
    height: 10.9rem;
    border-radius: 1.6rem;
    // background-color: var(--green);
    flex-shrink: 0;

    // background: radial-gradient(63.22% 50.92% at 50.57% 31.65%, rgba(6, 165, 170, 0.61) 0%, rgba(11, 49, 54, 0.61) 77.08%), rgba(24, 93, 102, 0.6);
    background: radial-gradient(63.22% 50.92% at 50.57% 31.65%, rgba(6, 165, 170, 0.61) 0%, rgba(11, 49, 54, 0.61) 77.08%), rgba(24, 93, 102, 1);

    color: var(--white);

    &-text {
      font-weight: 1000;
      font-size: 1.2rem;
      line-height: 120%;
      text-align: center;
    }
  }

  &__banners {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

    overflow-x: auto;
    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);
    width: 100vw;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    &-link {
      width: 18.2rem;
      height: 17.8rem;
      border-radius: 1.6rem;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}