@use './../mixins' as *;

.hero {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

    overflow-x: auto;
    /* опционально, для «приклеивания» к элементам */
    scroll-snap-type: x mandatory;
    /* плавный инерционный скролл на iOS */
    -webkit-overflow-scrolling: touch;

    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);
    width: 100vw;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: calc(25% - (2.4rem / 4));
    height: 10.9rem;
    border-radius: 1.6rem;
    // background-color: var(--green);
    flex-shrink: 0;
    /* для snap-effect */
    scroll-snap-align: center;
    transition: all 0.5s ease;
    // background: radial-gradient(63.22% 50.92% at 50.57% 31.65%, rgba(6, 165, 170, 0.61) 0%, rgba(11, 49, 54, 0.61) 77.08%), rgba(24, 93, 102, 0.6);
    background: radial-gradient(63.22% 50.92% at 50.57% 31.65%, rgba(6, 165, 170, 0.61) 0%, rgba(11, 49, 54, 0.61) 77.08%), rgba(24, 93, 102, 1);

    color: var(--white);

    &:hover {
      background: var(--green-dark);
    }

    &-img {
      display: flex;
      justify-content: center;
      width: 6rem;
      height: 6rem;
      flex-shrink: 0;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    &-text {
      font-weight: 1000;
      font-size: 1.2rem;
      line-height: 120%;
      text-align: center;
    }
  }

  &__banners {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

    overflow-x: auto;
    /* опционально, для «приклеивания» к элементам */
    scroll-snap-type: x mandatory;
    /* плавный инерционный скролл на iOS */
    -webkit-overflow-scrolling: touch;

    padding: 0 var(--container-padding);
    margin-left: calc(var(--container-padding) * -1);
    width: 100vw;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    &-link {
      width: 18.2rem;
      height: 17.8rem;
      border-radius: 1.6rem;
      flex-shrink: 0;
      /* для snap-effect */
      scroll-snap-align: center;

      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      i {
        background-color: var(--white);
        border-radius: 50%;

        font-size: 3rem;
        color: var(--green);

        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }

      &:hover i {
        background-color: var(--green);

        color: var(--white);
      }
    }
  }
}