@use './../mixins' as *;

.dish {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
  }

  &__img {
    border-radius: 1.6rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 var(--container-padding);
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: var(--orange-light);

    color: var(--white);

    &-text {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 100%;
    }

    i {
      font-size: 1.2rem;
    }
  }

  &__share {
    font-size: 3rem;
    color: var(--black);

    background-color: var(--bg);
    border-radius: 50%;
  }

  &__name {
    font-weight: 900;
    font-size: 2rem;
    line-height: 120%;
    color: var(--black);
  }

  &__weight {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    color: #0A2533;
    opacity: 0.5;
  }

  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.7rem 1rem;
    background-color: var(--bg);
    border: 0.1rem solid var(--beige);
    border-radius: 3rem;

    i {
      font-size: 1.6rem;
      color: var(--green);
    }
  }

  &__name {
    font-weight: 900;
    font-size: 2rem;
    line-height: 100%;
  }

  &__price {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 var(--container-padding);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

    i {
      font-size: 2.4rem;
      color: var(--green);
    }
  }
}