@use './../mixins' as *;

.dish {
  width: 100%;
  height: calc(100dvh - var(--wrapper-padding));
  border-radius: 1.6rem 1.6rem 0 0;
  border: 0.1rem solid var(--beige);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--white);
  background-image: url(./../../images/temp/menu-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  touch-action: none;
  will-change: transform;

  position: fixed;
  bottom: 0;
  z-index: 600;

  .menu--open & {
    transform: translateY(0);
  }

  &::before {
    content: "";
    width: 5.6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    background-color: var(--green-50);

    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.6rem 0;
    height: fit-content;
  }

  &__head {}

  &__img {
    border-radius: 1.6rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 var(--container-padding);
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: var(--orange-light);

    color: var(--white);

    &-text {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 100%;
    }

    i {
      font-size: 1.2rem;
    }
  }

  &__share {
    font-size: 3rem;
    color: var(--black);

    background-color: var(--bg);
    border-radius: 50%;
  }

  &__name {
    font-weight: 900;
    font-size: 2rem;
    line-height: 120%;
    color: var(--black);
  }

  &__weight {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    color: #0A2533;
    opacity: 0.5;
  }

  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.7rem 1rem;
    background-color: var(--bg);
    border: 0.1rem solid var(--beige);
    border-radius: 3rem;

    i {
      font-size: 1.6rem;
      color: var(--green);
    }
  }

  &__name {
    font-weight: 900;
    font-size: 2rem;
    line-height: 100%;
  }

  &__price {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 var(--container-padding);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__value {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

    i {
      font-size: 2.4rem;
      color: var(--green);
    }
  }
}