@use './../mixins' as *;

.dish {

  .layout {

    &__head {

      &-cover {
        width: 100vw;
        height: 26.8rem;
        margin-left: calc(var(--container-padding) * -1);
      }
    }

    &__block {
      gap: 2rem;
    }
  }
}