@use './../mixins' as *;

.logo {
  width: fit-content;
  height: 6rem;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0rem 0rem 1.5rem var(--aqua-light));
  }
}