@use './../mixins' as *;

.panel {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: var(--panel-height);

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0A2533 25%, transparent 75%);
    backdrop-filter: blur(2px);
    pointer-events: none;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__inner {
    width: 100%;
    height: fit-content;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAyIiBoZWlnaHQ9Ijc3IiB2aWV3Qm94PSIwIDAgNDAyIDc3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KPHBhdGggZD0iTTAgMjEuNDQ1OEMwIDkuNjAxNjEgOS41OTkwMiAwIDIxLjQ0IDBIMTQ1Ljc5NkMxNTIuNzc0IDAgMTU4LjczNyAyLjAyNjAzIDE2Mi44OSA3LjYzNDc4QzE3MS40MTYgMTkuMTUwNiAxNzguNTQ5IDM1LjM4NTUgMjAxIDM1LjM4NTVDMjIzLjQ5MSAzNS4zODU1IDIzMS4yODQgMTkuMDkyIDI0MC4xMTIgNy41NzI0N0MyNDQuMzU3IDIuMDMzMjcgMjUwLjI5OCAwIDI1Ny4yNzYgMEgzODAuNTZDMzkyLjQwMSAwIDQwMiA5LjYwMTYgNDAyIDIxLjQ0NThWNzdIMFYyMS40NDU4WiIgZmlsbD0iI0ZERjZFQyIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 var(--container-padding);
  }

  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 7rem;
    height: 7rem;
    padding: 1.2rem 0 1.8rem;

    position: relative;

    i {
      font-size: 3rem;
      color: var(--green);
    }

    span {
      font-weight: 700;
      font-size: 1rem;
      line-height: 120%;
    }

    &-count {
      padding: 0.4rem 0.3rem;
      border-radius: 50%;
      background-color: var(--red);

      font-family: var(--third-family);
      font-weight: 800;
      font-size: 1rem;
      line-height: 100%;
      color: var(--bg);

      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    &--mid {
      border-radius: 50%;
      background-color: var(--green);
      transform: translateY(-4.1rem);

      color: var(--white);

      i {
        font-size: 2.8rem;
        color: var(--white);
      }
    }
  }
}