@use './../mixins' as *;

.popup {
  width: 100%;
  height: calc(100dvh - var(--wrapper-padding));
  z-index: 600;
  border-radius: 1.6rem 1.6rem 0 0;
  border: 0.1rem solid var(--beige);
  overflow: hidden;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  touch-action: none;
  will-change: transform;
  inset: 0;

  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;

  &.is-under {
    pointer-events: none;
  }

  .popup--open & {
    transform: translateY(0);
  }

  .container {
    // overflow: auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.6rem);
    overflow: hidden;
  }

  &__area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 3.6rem;
    cursor: grab;

    position: relative;

    &::before {
      content: "";
      width: 5.6rem;
      height: 0.6rem;
      border-radius: 0.5rem;
      background-color: var(--green-50);
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}