@use './../mixins' as *;

.popup {
  width: 100%;
  height: calc(100dvh - var(--wrapper-padding));
  z-index: 600;
  border-radius: 1.6rem 1.6rem 0 0;
  border: 0.1rem solid var(--beige);
  overflow: hidden;
  background-color: var(--white);
  background-image: url(./../../images/temp/menu-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  touch-action: none;
  will-change: transform;

  position: fixed;
  bottom: 0;

  .popup--open & {
    transform: translateY(0);
  }

  .container {
    // overflow: auto;
  }

  &__inner {
    overflow-y: auto;
    padding-bottom: 4rem;
    height: calc(100dvh - var(--wrapper-padding) - 3.6rem);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__area {
    width: 100%;
    height: 3.6rem;
    flex-shrink: 0;

    position: relative;

    &::before {
      content: "";
      width: 5.6rem;
      height: 0.6rem;
      border-radius: 0.5rem;
      background-color: var(--green-50);
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}