@use './../mixins' as *;

.reviews {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__cover {
    width: 100vw;
    margin-left: calc(var(--container-padding) * -1);
    border-radius: 1.6rem;
    overflow: hidden;
  }

  &__btn {
    font-weight: 700;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1.5rem;
    width: fit-content;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: var(--orange-light);

    color: var(--white);

    &-text {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 100%;
    }

    i {
      font-size: 1.2rem;
    }
  }

  &__counts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1.5rem;
    width: fit-content;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: var(--bg);

    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-name {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 120%;
    }

    &-rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      i {
        font-size: 1.2rem;
        color: var(--orange-light);
      }
    }

    &-date {
      font-size: 1rem;
    }

    &-text {

      p {
        font-size: 1.4rem;
      }
    }

    &-imgs {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
    }

    &-img {
      border-radius: 0.4rem;
      overflow: hidden;
      width: 8.4rem;
      height: 5.6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-write {
    background-image: none;

    &__rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      i {
        font-size: 3rem;
        color: var(--orange-light);
      }
    }
  }
}