@font-face {
  font-family: 'FabricaIconFont';
  src:  url('fonts/FabricaIconFont.eot?nn5z2i');
  src:  url('fonts/FabricaIconFont.eot?nn5z2i#iefix') format('embedded-opentype'),
    url('fonts/FabricaIconFont.ttf?nn5z2i') format('truetype'),
    url('fonts/FabricaIconFont.woff?nn5z2i') format('woff'),
    url('fonts/FabricaIconFont.svg?nn5z2i#FabricaIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FabricaIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-business-lunch:before {
  content: "\e900";
}
.icon-calories:before {
  content: "\e901";
}
.icon-carbohydrates:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-fat:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e907";
}
.icon-hookah:before {
  content: "\e908";
}
.icon-hot:before {
  content: "\e909";
}
.icon-like:before {
  content: "\e90a";
}
.icon-login:before {
  content: "\e90b";
}
.icon-lunch:before {
  content: "\e90c";
}
.icon-meatballs:before {
  content: "\e90d";
}
.icon-menu-card:before {
  content: "\e90e";
}
.icon-menu-catering:before {
  content: "\e90f";
}
.icon-menu-contacts:before {
  content: "\e910";
}
.icon-menu-geo:before {
  content: "\e911";
}
.icon-menu-like:before {
  content: "\e912";
}
.icon-menu-list:before {
  content: "\e913";
}
.icon-menu-loyalty-system:before {
  content: "\e914";
}
.icon-menu-meatballs:before {
  content: "\e915";
}
.icon-menu-microphone:before {
  content: "\e916";
}
.icon-menu-personal-offers:before {
  content: "\e917";
}
.icon-menu-rassadka:before {
  content: "\e918";
}
.icon-menu-slang:before {
  content: "\e919";
}
.icon-menu-user:before {
  content: "\e91a";
}
.icon-protein:before {
  content: "\e91b";
}
.icon-question-mark:before {
  content: "\e91c";
}
.icon-salads:before {
  content: "\e91d";
}
.icon-share:before {
  content: "\e91e";
}
.icon-star:before {
  content: "\e91f";
}
.icon-star-fill:before {
  content: "\e920";
}
.icon-top:before {
  content: "\e921";
}
.icon-up:before {
  content: "\e922";
}
.icon-user:before {
  content: "\e923";
}
