@use './../mixins' as *;

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 402;

  font-size: calc(100vw / var(--refRes) * 10);
  scroll-behavior: smooth;

  @include domd {
    --refRes: 1920;
  }
}

body {
  min-width: 320px;
  background-color: var(--white);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
  color: var(--black);
  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: var(--wrapper-padding);
  padding-bottom: 15rem;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 2rem;

  position: relative;
}

a {
  color: inherit;
  transition: all 0.5s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}