@use './../mixins' as *;

[data-popup-scroll] {
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  padding-bottom: 4rem;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}